*{
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
}
.main-header {
    background-color: #dbc441;
    height: 3.5rem;
    padding: 0px 1.5rem;
    width: 100%;
}
.main-header__nav{
    align-items: center;
    display: flex;
    height: 100%;
}
.main-header__item-list{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}
.main-header__item {
    margin: 0px 1rem;
}
.main-header__item a {
    color: black;
    text-decoration: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #3e00a1;
}

main {
    padding: 1rem;
}
