<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Index</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis saepe facilis vero placeat dolores consequuntur tenetur incidunt, nam, expedita sint nisi quibusdam quaerat odio cupiditate magnam consectetur quos cumque, soluta officia nostrum nulla quasi suscipit? Inventore atque quis porro soluta, labore deleniti voluptatibus nesciunt ullam earum asperiores, qui illum sunt quam laudantium ad repudiandae neque laboriosam sit maxime excepturi? Molestias ducimus sit deserunt repellat ex eaque nisi accusantium! Consequatur sint officiis distinctio quos eaque! Saepe dolor eligendi at ipsum similique, doloremque vitae, exercitationem quaerat quod iusto suscipit iste facere assumenda est et, architecto provident sapiente vero deserunt dolores praesentium! Commodi.</p>
</body>
</html>