<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>
    <h1>Users</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro corporis quibusdam delectus, ipsam earum culpa provident veritatis dolore, vitae rem autem laboriosam atque, accusamus suscipit quos iure incidunt neque fugiat. Dolor fuga nostrum quia neque repellendus est voluptate impedit blanditiis suscipit ullam sequi corrupti ratione at soluta aspernatur voluptatibus in maxime iusto, quam veniam, voluptas sed beatae. Eos labore impedit voluptate sunt odit sapiente, officiis earum excepturi repellat placeat cupiditate, quibusdam mollitia accusamus rerum, ratione sint unde nobis fugiat? Earum ut quo, quos eveniet quasi rem dolore ratione nam, amet ducimus alias! Voluptate quis voluptatibus magni placeat aliquid saepe ea!</p>
</body>
</html>